.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 260px));
  gap: 30px;
  justify-content: center; /* centra filas incompletas */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 210px;
}
