.item-list-container {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-muted);
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
